.resume .top-item:first-child{
    margin-top: 0 !important;
}

.resume .resume-item {
    background: #fff;
    margin-top: 30px;
    max-height: 140px;
    overflow: hidden;
}

.resume .resume-item h3{
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 10px;
}

.resume .resume-item h4{
    font-size: 22px;
    font-weight: 400;
}


.resume .resume-item span{
    color: #666;
    display: block;
    font-size: 12px;
    font-weight: 300;
    margin: 0 0 10px;
}

.resume .resume-item p{
    line-height: 20px;
    margin-bottom: 0;
}