.main-content{
    background: white;
    width: 800px;
}

.main-content p{
    color: #2c2c2c;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
}

.main-content section {
    padding:0 40px 0 40px ;
    position: relative;
    border-bottom: solid 1px #EEE;
}